body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    color: white;
    overflow: hidden; /* Hide sparks that go off-screen */
}

.spark {
    position: absolute;
    background-color:#c52121;
    border-radius: 50%;
    pointer-events: nnone
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 5;
    animation: fadeOutAndExpand 0.5s ease-out forwards;
}

@keyframes fadeOutAndExpand {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    50%{
       transform: scale(1.5);
       opacity: 5;
    }
    100% {
        transform: scale(2); 
        opacity: 0;
    }
}